$x-container-base-size: 22px;
$x-container-additional-size: 50px;
$x-container-total-size: $x-container-base-size + $x-container-additional-size;

$arrow-base-size: 9px;
$arrow-additional-size: $x-container-additional-size / 2;
$arrow-size: $arrow-base-size + $arrow-additional-size;


$board-background: rgb(209, 209, 209);
$board-grid-color: #000;
$piece-color: #000;


body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.wrapper {
    width: 310px;
    margin: 0 auto;

    .square {
        width: 100px;
        height: 100px;
        float: left;
        background: $board-background;
        border-right: 5px solid $board-grid-color;
        border-bottom: 5px solid $board-grid-color;

        &:nth-child(3n+3) {
            border-right: none;
        }

        &:nth-child(7), &:nth-child(8), &:nth-child(9) {
            border-bottom: none;
        }
    }

    .o {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background: $board-background;
        border: 3px solid $piece-color;
        margin: 14px auto 0;
    }

    .winner {
        height: 50px;
        line-height: 50px;
        padding: 20px 0;
        text-align: center;
        font-size: 34px;
    }

    .new-game {
        color: #FFF;
        font-size: 18px;
        padding: 10px 15px;
        background: rgb(93, 119, 218);
        display: inline-block;
        border-radius: 4px;
        text-shadow: 1px 1px rgb(60, 60, 148);
        border: 3px solid rgb(60, 60, 148);
        margin-top: 20px;
        cursor: pointer;
    }
}


.x-container {
    position: relative;
    width: $x-container-total-size;
    height: $x-container-total-size;
    background: $piece-color;
    margin: 16px auto 0;

    .x-arrow-up, .x-arrow-down, .x-arrow-left, .x-arrow-right {
        position: absolute;
        width: 0;
        height: 0;
    }

    .x-arrow-up, .x-arrow-down {
        border-left: $arrow-size solid rgba(0, 0, 0, 0);
        border-right: $arrow-size solid rgba(0, 0, 0, 0);
    }

    .x-arrow-left, .x-arrow-right {
        border-top:    $arrow-size solid rgba(0, 0, 0, 0);
        border-bottom: $arrow-size solid rgba(0, 0, 0, 0);
    }

    .x-arrow-up {
        bottom: 0;
        left: 2px;
        border-bottom: $arrow-size solid $board-background;
    }

    .x-arrow-down {
        top: 0;
        left: 2px;
        border-top: $arrow-size solid $board-background;
    }

    .x-arrow-left {
        right: 0;
        top: 2px;
        border-right: $arrow-size solid $board-background;
    }

    .x-arrow-right {
        left: 0;
        top: 2px;
        border-left: $arrow-size solid $board-background;
    }
}
