$board-grid-color: rgb(90, 90, 90);

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(90, 90, 90);
    background: rgb(18, 18, 18);;
}

* {
    vertical-align: top;
}

.wrapper {
    width: 960px;
    margin: 0 auto;

    .lg-board {
        width: 410px;
        height: 410px;
        display: inline-block;
    }

    .sm-board {
        width: 100px;
        height: 100px;
        display: inline-block;
    }

    .square {
        width: 32%;
        height: 32%;
        float: left;

        &:nth-child(3n+3) {
            border-right: none;
        }

        &:nth-child(7), &:nth-child(8), &:nth-child(9) {
            border-bottom: none;
        }
    }

    .lg-square-border {
        border-right: 5px solid $board-grid-color;
        border-bottom: 5px solid $board-grid-color;
    }

    .sm-square-border {
        border-right: 2px solid $board-grid-color;
        border-bottom: 2px solid $board-grid-color;
    }

    .lg-o {
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .sm-o {
        width: 80%;
        margin: 10% 0 0 10%;  
    }

    .lg-x {
        width: 76%;
        margin: 12% 0 0 12%;  
    }

    .sm-x {
        width: 76%;
        margin: 12% 0 0 12%;  
    }

    .winner {
        height: 50px;
        line-height: 50px;
        padding: 20px 0;
        text-align: center;
        font-size: 34px;
    }

    .new-game {
        color: #FFF;
        font-size: 18px;
        padding: 10px 15px;
        background: rgb(93, 119, 218);
        display: inline-block;
        border-radius: 4px;
        text-shadow: 1px 1px rgb(60, 60, 148);
        border: 3px solid rgb(60, 60, 148);
        margin-top: 20px;
        cursor: pointer;
    }

    .ai {
        width: 30%;
        display: inline-block;

        
    }
}
