$x-container-base-size: 22px;
$x-container-additional-size: 70px;
$x-container-total-size: $x-container-base-size + $x-container-additional-size;

$arrow-base-size: 9px;
$arrow-additional-size: $x-container-additional-size / 2;
$arrow-size: $arrow-base-size + $arrow-additional-size;

$piece-color: #000;
$background-color: rgb(209, 209, 209);


.x-container {
    position: relative;
    width: $x-container-total-size;
    height: $x-container-total-size;
    background: $piece-color;
    margin: 16px auto 0;

    .x-arrow-up, .x-arrow-down, .x-arrow-left, .x-arrow-right {
        position: absolute;
        width: 0;
        height: 0;
    }

    .x-arrow-up, .x-arrow-down {
        border-left: $arrow-size solid rgba(0, 0, 0, 0);
        border-right: $arrow-size solid rgba(0, 0, 0, 0);
    }

    .x-arrow-left, .x-arrow-right {
        border-top:    $arrow-size solid rgba(0, 0, 0, 0);
        border-bottom: $arrow-size solid rgba(0, 0, 0, 0);
    }

    .x-arrow-up {
        bottom: 0;
        left: 2px;
        border-bottom: $arrow-size solid $background-color;
    }

    .x-arrow-down {
        top: 0;
        left: 2px;
        border-top: $arrow-size solid $background-color;
    }

    .x-arrow-left {
        right: 0;
        top: 2px;
        border-right: $arrow-size solid $background-color;
    }

    .x-arrow-right {
        left: 0;
        top: 2px;
        border-left: $arrow-size solid $background-color;
    }
}